Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  #php_flag default_charset UTF-8
  #php_value display_errors 1
</IfModule>


<IfModule mod_php7.c>
  php_flag session.use_trans_sid off
  #php_flag default_charset UTF-8
  #php_value display_errors 1
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} [\xC2-\xDF][\x80-\xBF] [OR]
RewriteCond %{REQUEST_FILENAME} \xE0[\xA0-\xBF][\x80-\xBF] [OR]
RewriteCond %{REQUEST_FILENAME} [\xE1-\xEC\xEE\xEF][\x80-\xBF]{2} [OR]
RewriteCond %{REQUEST_FILENAME} \xED[\x80-\x9F][\x80-\xBF] [OR]
RewriteCond %{REQUEST_FILENAME} \xF0[\x90-\xBF][\x80-\xBF]{2} [OR]
RewriteCond %{REQUEST_FILENAME} [\xF1-\xF3][\x80-\xBF]{3} [OR]
RewriteCond %{REQUEST_FILENAME} \xF4[\x80-\x8F][\x80-\xBF]{2}
RewriteCond %{REQUEST_FILENAME} !/bitrix/virtual_file_system.php$
RewriteRule ^(.*)$ /bitrix/virtual_file_system.php [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>



Redirect 301 /services/dostavka/ /delivery/
Redirect 301	/catalog/metalloprokat/balka-dvutavrovaya/	 /catalog/balka-dvutavrovaya/
Redirect 301	/catalog/metalloprokat/kvadrat/	 /catalog/kvadrat/
Redirect 301	/catalog/metalloprokat/list-otsinkovannyy/	 /catalog/list-otsinkovannyy/
Redirect 301	/catalog/metalloprokat/list-prosechno-vytyazhnoy/	 /catalog/prosechno-vytyazhnoy-list/
Redirect 301	/catalog/metalloprokat/list-kh-k/	 /catalog/list-kholodnokatanyy/
Redirect 301	/catalog/metalloprokat/polosa/	 /catalog/polosa-stalnaya/
Redirect 301	/catalog/metalloprokat/stal-armaturnaya/	 /catalog/armatura/
Redirect 301	/catalog/metalloprokat/stal-kruglaya/	 /catalog/krug-stalnoy/
Redirect 301	/catalog/metalloprokat/stal-uglovaya/	 /catalog/ugolok-stalnoy/
Redirect 301	/catalog/metalloprokat/shveller/	 /catalog/shveller/
Redirect 301	/catalog/metalloprokat/shestigrannik/	 /catalog/shestigrannik-stalnoy/
Redirect 301    /catalog/metalloprokat/  /		
		
		
Redirect 301	/catalog/nerzhaveyka/zapornaya-i-soedinitelnaya-armatura/	 /catalog/zapornaya-i-soedinitelnaya-armatura/
Redirect 301	/catalog/nerzhaveyka/krug-kalibrovannyy/	 /catalog/nerzhaveyushchiy-krug/
Redirect 301	/catalog/nerzhaveyka/list-nerzhaveyushchiy/	 /catalog/list-nerzhaveyushchiy/
Redirect 301	/catalog/nerzhaveyka/nerzhaveyushchie-fitingi/	 /catalog/nerzhaveyushchie-fitingi/
Redirect 301	/catalog/nerzhaveyka/truba-kruglaya/	 /catalog/truba-kruglaya-nerzhaveyushchaya/
Redirect 301	/catalog/nerzhaveyka/truba-profilnaya-ner/	 /catalog/truba-profilnaya-nerzhaveyushchaya/
Redirect 301    /catalog/nerzhaveyka/  /catalog/nerzhaveyushchaya-stal/		
		
Redirect 301	/catalog/setka-provoloka/provoloka/	 /catalog/provoloka/
Redirect 301	/catalog/setka-provoloka/setka/	 /catalog/setka/
Redirect 301    /catalog/setka-provoloka/ /catalog/setka/		
		
		
Redirect 301	/catalog/truby-stalnye/otvody/	 /catalog/otvody/
Redirect 301	/catalog/truby-stalnye/truba-besshovnaya/	 /catalog/besshovnaya-truba/
Redirect 301	/catalog/truby-stalnye/truba-vodogazoprovodnaya/	 /catalog/vodogazoprovodnaya-truba-vgp/
Redirect 301	/catalog/truby-stalnye/truba-otsinkovannaya/	 /catalog/otsinkovannaya-truba/
Redirect 301	/catalog/truby-stalnye/truba-profilnaya/	 /catalog/truba-profilnaya/
Redirect 301	/catalog/truby-stalnye/truba-elektrosvarnaya/	 /catalog/elektrosvarnaya-truba/
Redirect 301	/catalog/truby-stalnye/ /catalog/truba-kruglaya/	
			
		
Redirect 301	/catalog/elektrody/elektrody1/	 /catalog/elektrody/
Redirect 301	/publications/gnutyy-shveller/	 /catalog/shveller-gnutyy/
Redirect 301	/publications/svarnaya-setka/	 /catalog/svarnaya-setka/
Redirect 301	/publications/setka-rabitsa/	 /catalog/setka-rabitsa/
Redirect 301	/publications/kladochnaya-setka/	 /catalog/setka-kladochnaya/
Redirect 301	/publications/truby-iz-nerzhaveyushchey-stali-vidy-sfery-primeneniya/	 /catalog/truba-kruglaya-nerzhaveyushchaya/
Redirect 301	/publications/nerzhaveyushchaya-stal-aisi/	 /articles/nerzhaveyushchaya-stal-aisi/
Redirect 301	/publications/kriterii-vybora-i-preimushchestva-ugolka-iz-nerzhaveyushchey-stali/	 /catalog/ugolok-nerzhaveyushchiy/
Redirect 301	/publications/vyazalnaya-provoloka-v-assortimente/	 /catalog/provoloka-vyazalnaya/
Redirect 301    /catalog/metalloprokat/list-g-k/  /catalog/list-goryachekatanyy/		


Redirect 301     /service/ /services/
Redirect 301     /contacts/ /contact/
Redirect 301     /documentation/gosty-i-tu/ /gost/
Redirect 301     /publications/ /articles/
Redirect 301     /career/jobs/ /vacancy/


<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>